<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title> 
  <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
  <header>
    <h1>Mi Aplicación</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/reservar-espacios">Reservar Espacios</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <%- body %> 
  </main>
  <footer>
    <p>&copy; 2023 Mi Aplicación</p>
  </footer>
</body>
</html>